/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

html{
	background-color: rgb(204 180 163);
}
body{
	font-family: bilo;
}

div.home-container { 
	background: url(home.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container{
	position: relative;
	min-height: 100vh;
	background-color: rgb(250, 243, 235);
	max-width: 60em;
}
/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */


main { 
	padding: 1rem 2rem 4rem;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 75% auto;
	background: rgb(226 218 208);
	padding: 1.5em 1.5em;
	}

h1 {
	width: 15em;
	}

h2, h3, h4 {
	font-weight: bold;
	color: rgb(34 43 96);
	}

h2 {
	font-size: 2em;
	margin: 2em 0em 0em 0em;

	}
	
h3 {
	font-size: 1.5em;
	margin: 1.5em 0em .5em 0em;
}

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 1em;
}

main.menu ul {
		margin: 2em 0em;
}	

main.menu ul li {
		margin: 2em 0em 2em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em 0em .5em;
	color: rgb(34 43 96);
	font-weight: 500;
	}
	
p.description {
	grid-column: 1/2;
	margin: 0em;
	}
	
p.price {
	grid-row: 1/2;
	grid-column: 2/3;
	color: rgb(240 79 35);
	text-align: right;
	margin: 0;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.25em;
	margin-top: 1.25em;
	font-family: bilo, sans-serif;
	}
	
nav ul li a {
	color: rgb(34 43 96);
	background-color: rgb(226 218 208);
	padding: .25em .35em; 
	border-radius: 15px;
	}
	
nav ul li.selected a {
	color: rgb(226 218 208);
	background-color: rgb(34 43 96);
	padding: .25em;
}

p.slogan {
	font-size: 5em;
	font-family: bilo;
	font-weight: bold;
	color: rgb(34 43 96);	
	}
	
footer {
  /*should be position: absolute; but this was manking the footer float in the middle of the page?*/
  bottom: 1em;
  width: 100%;
  height: 3rem; 
  background: rgb(226 218 208);
  position: absolute;
  bottom: 0;
}

footer p{
	color: rgb(34 43 96);
	margin-left: 2em;
	font-weight: 400;
}

address {
	color: rgb(250 251 252);
	font-weight: bold;
	background-color: rgb(34 43 96);
	padding: 1em 1em;
	width: 20em;
	border-radius: 15px;
	}

@media screen and (min-width: 60em) {
	main.menu ul{
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 4em;
	}
	header {
		grid-template-columns: 30% auto;
			}	
	nav{
		margin-top: 2em;
	}
	nav ul li {
		display: inline;
		font-size: 1.5em;
		margin-left: 2em;
}
	article {
		background-color: rgb(204 180 163);
		margin: 2em 10em;
		padding: .25em 1em;
		border-radius: 15px;
}
div.container{
	margin: auto;
}

div.home-container{
	margin: auto;
	max-width: 60em;
}
}
